.notification {
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    padding: 16px;
    border: solid 1px gray;
}

.notification.succes {
    background-color: rgb(153, 202, 104);
    
}

.notification.error {
    background-color: rgb(208, 49, 49);
    
}